<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>

<body>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" width="30" height="30" alt="" class="d-inline-block align-top">
            Holoser
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li <% if (title === 'Holoser') { %>class="active" <% } %> ><a class="nav-link" href="/">Página Inicial</a></li>
                <li <% if (title === 'Holoser | Atendimentos') { %>class="active" <% } %> ><a class="nav-link" href="/atendimentos">Atendimentos</a></li>
                <li <% if (title === 'Holoser | Clientes') { %>class="active" <% } %> ><a class="nav-link" href="/clientes">Clientes</a></li>
                <li <% if (title === 'Holoser | Produtos') { %>class="active" <% } %> ><a class="nav-link" href="/produtos">Produtos</a></li>
                <!-- <li <% if (title === 'Holoser | Relatórios') { %>class="active" <% } %> ><a class="nav-link" href="/relatorios">Relatórios</a></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <h6 class="dropdown-header">Atendimentos</h6>
                        <a class="dropdown-item" href="#">Histórico</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Clientes</h6>
                        <a class="dropdown-item" href="cliente-por-local">Cliente x Local</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Produtos</h6>
                        <a class="dropdown-item" href="produtos-por-marca">Produtos x Marca</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>