<% include partials/header.ejs %>
<div class="front">
    <img src="images/header.jpg" alt="" style="width: 100%; height: auto">
    <div class="overlay"></div>
    <div class="centered">
        <h1>Holoser</h1>
        <h3>Sistema Auxiliar para Terapeutas Holísticos</h3>
    </div>
</div>