.table-wrapper {
  /* margin-top: 50px; */
  /* padding-left: 24px; */
  /* padding-right: 24px */
}

.fab {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: salmon;
}

.header-title {
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.btn-delete {
    color: red;
}
